/**************************************************

    Colorful-2 color scheme

**************************************************/


/*
    Body
==============================*/

body {
    color: #fff;

    background-color: #a6003b;
    background-image: url(../img/background-colorful-2.png);
}


/*
    Text selection
==============================*/

::selection {
    background: #fff;
    color: #000;
}

::-moz-selection {
    background: #fff;
    color: #000;
}


/*
    Subscription form
==============================*/

.subscribe-email:focus {
    -webkit-box-shadow: 0 0 8px #fff;
    -moz-box-shadow: 0 0 8px #fff;
    box-shadow: 0 0 8px #fff;
}

.subscribe-email::-webkit-input-placeholder  { color: #d76b00 }
.subscribe-email:-moz-placeholder { color: #d76b00 }
.subscribe-email::placeholder { color: #d76b00 }

.subscribe-submit {
    background: #d23304;
    color: #fff;
}

.subscribe-submit:hover {
    background: #a02603;
}

.subscribe-submit:active {
    -webkit-box-shadow: 0 0 8px #a02603;
    -moz-box-shadow: 0 0 8px #a02603;
    box-shadow: 0 0 8px #a02603;
}

.subscribe-tooltip.success {
    background: #0a0;
}

.subscribe-tooltip.error {
    background: #a00;
}


/*
    Countdown
==============================*/

.countdown-number {
    background: #fff;
    color: #8e0052;
}